/* Fonts:
font-family: 'Corinthia', cursive;
font-family: 'Handlee', cursive;
font-family: 'Roboto', sans-serif;
Colors:
Dark Blue background color: rgb(20, 83, 141); */


h1 {
    font-family: 'Corinthia', cursive;
    font-size: 9em;
    text-align: center;
    padding-top: 1%;
    color: whitesmoke;
    text-shadow: 2px 2px 3px black;
}

h2{
    font-family: 'Handlee', cursive;
    font-size: 4em;
    text-align: center;
    padding-top: 2%;
    color: whitesmoke;
    text-shadow: 2px 2px 3px black;
}


.secondary{
    width: 100vw;
    height: 90vh;
    background-image:url(../img/no_village_winter.png);
    background-size:auto;
    background-position: top right;
    /* overflow:auto; */
    padding-bottom: 100px;
}


.pageWrapper{
    display: flex;
}

.pageWrapper section{
    background-color: white;
    margin: auto;
    margin-top: 4em;
    padding: 1em;
    height: 65vh;
    width: 25%;
    border-radius: 20px;
}

.pageWrapper section:nth-child(2){
    background-color: white;
    margin: auto;
    margin-top: 4em;
    height: 65vh;
    width: 45%;
    border-radius: 20px;
    overflow: scroll;
}




footer{
    background-color: white;
    color: rgb(20, 83, 141);
    position:fixed;
    bottom: 0%;
    padding-bottom: 2em;
    width: 100%;
    height: 10%;
}

ul{
    display: flex;
    padding-bottom: 1em;
    margin: auto;
    text-align: center;
    justify-content: center;

}

li{
    font-family: 'Handlee', cursive;
    font-size: 2em;
padding: 1em;
}

a{
    text-decoration: none;
}
a:hover{
    color: red;
}
.navBar{
    display: flex;
}

.navCartContainer{
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding: 1%;
    justify-content: right;

}
.navCartContainer div{
    background-color: white;
    /* margin-top: 5px; */
    margin-left: 1em;
    padding: 10px;
    border-radius: 20px;
    color: rgb(20, 83, 141);

}

/* *********************************Items Pledged Cart************************************* */

  
  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;

  }
     
  p {
    font-size: 1.5em;
    color: #8a8a8a;
  }
  
  /* qty box */
  input {
    border: 0.3em solid #bbc3c6;
    padding: 0.5em 0.3em; 
    font-size: 1.4em;
    color: #8a8a8a;
    text-align: center;
  }
  
  img {
    max-width: 7em;
    width: 100%;
    overflow: hidden; 
    margin-right: 1em;
  }
  
  
 #table {
    background: #ffffff;
   border-radius: 0.6em; 
    clear: both; 
     margin-bottom: 1.8em;
  } 
  
  /* orders items in  */
  .layout-inline > * {
    display: inline-flex;
    justify-content:space-between;
  }
  
  /* used to align qty in center of column */
  .align-center {
    text-align: center;
  }
  
  /* table head */
  .th {
    background: #43ace3;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
  }


  /* table foot */
  .tf {
    background: #43ace3;
    text-transform: uppercase;
    text-align: right;
    font-size: 1.2em;  
    
  }
  
  /* table foot font properties */
  .tf p {
    color: #fff;
    font-weight: bold;
  }
  
  /* give padding and width to every column */
  .col {
    padding: 1em;
    width: 12%;
  }

  /* first column in table */
  .col-pro {
    width: 30%;
  }
  #title{
    width: 40%;
  }

  .col-pro > * {
    vertical-align: middle;
  }
  
  /* qty column (2nd)  */
  .col-qty {
    text-align: center;
    width: 17%;
  }
  
  
  .tf .col {
    width: 20%;
  }

  
  .row > span {
    vertical-align: middle;
  }
  
  .row-bg2 {
    background: #f7f7f7;
  }
  
  
  .col-qty > * {
    vertical-align: middle; 
  }
  
  .col-qty > input {
    max-width: 2.6em;
  }
  
  /* plus and minus qty */
  a.qty {
    width: 1em;
    line-height: 1em;
    border-radius: 2em;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    /* margin-left: .2em; */
    padding-left: .3em;
    padding-right: .4em;
    background: #43ace3;  
    color: #fff;
  }
  
  a.qty:hover {
    background: #2b7192;
  }
  
  .btn {
    padding: 10px 30px;
    padding-bottom: 20px;
    border-radius: 0.3em;
    font-size: 1.4em;
    font-weight: bold;
    background: #43ace3;
    color: #fff;
    box-shadow: 0 3px 0 rgba(59,154,198, 1)
  }
  
  .btn:hover {
    box-shadow: 0 3px 0 rgba(59,154,198, 0)
  }
  
  .btn-update {
    float: right;
    margin: 0 0 1.5em 0;
  } 

  .mailingList {
    color: #43ace3;
    text-align: center;
    margin-top: 10px;
}
.mailingList input {
  border: 0.3em solid #bbc3c6;
  padding: 0.5em 0.3em; 
  font-size: 1.4em;
  color: #8a8a8a;
  text-align: center;
  width: 10em;
}

/* *********************************Bar Chart ************************************* */
.barChart caption {
	font:bold 150%/120% arial,helvetica,sans-serif;
	padding-bottom:0.33em;
}

.barChart tbody th {
	text-align:right;
}

@supports (display:grid) {

	@media (min-width:32em) {

		.barChart {
			display:block;
      width:300px;
      height:300px;
		}

		.barChart caption {
			display:block;
		}

		.barChart thead {
			display:none;
		}

		.barChart tbody {
			position:relative;
			display:grid;
			grid-template-columns:repeat(auto-fit, minmax(2em, 1fr));
			column-gap:1%;
			align-items:end;
			height:100%;
			margin:3em 0 1em 2.8em;
			padding:0 1em;
			border-bottom:2px solid rgba(0,0,0,0.5);
			background:repeating-linear-gradient(
				180deg,
				rgba(170,170,170,0.7) 0,
				rgba(170,170,170,0.7) 1px,
				transparent 1px,
				transparent 20%
			);
		}

		.barChart tbody:before,
		.barChart tbody:after {
			position:absolute;
			left:-3.2em;
			width:2.8em;
			text-align:right;
			font:bold 80%/120% arial,helvetica,sans-serif;
		}

		.barChart tbody:before {
			content:"100%";
			top:-0.6em;
		}

		.barChart tbody:after {
			content:"0%";
			bottom:-0.6em;
		}

		.barChart tr {
			position:relative;
			display:block;
		}

		.barChart tr:hover {
			z-index:999;
		}

		.barChart th,
		.barChart td {
			display:block;
			text-align:center;
		}

		.barChart tbody th {
			position:absolute;
			top:-3em;
			left:0;
			width:100%;
			font-weight:normal;
			text-align:center;
      white-space:nowrap;
			text-indent:0;
			transform:rotate(-45deg);
		}

		.barChart tbody th:after {
			content:"";
		}

		.barChart td {
			width:30%;
			height:100%;
			background :#43ace3;
			border-radius:0.5em 0.5em 0 0;
			transition:background 0.5s;
		}

		.barChart tr:hover td {
			opacity:0.7;
		}

		.barChart td span {
			overflow:hidden;
			position:absolute;
			left:50%;
			top:50%;
			width:0;
			padding:0.5em 0;
			margin:-1em 0 0;
			font:normal 85%/120% arial,helvetica,sans-serif;
/* 			background:white; */
/* 			box-shadow:0 0 0.25em rgba(0,0,0,0.6); */
			font-weight:bold;
			opacity:0;
			transition:opacity 0.5s;
      color:white;
		}

		.togglebarChart:checked + table td span,
		.barChart tr:hover td span {
			width:4em;
			margin-left:-2em; /* 1/2 the declared width */
			opacity:1;
		}
/* *********************************Mailing List ************************************* */

#thanksWording{
  display: flex;
  margin: auto;
  flex-direction: column;
  text-align:center ;


  

}
#thanksWording h2{
  font-size: 2em;
}

#thanksWording h3{
  font-family: 'Handlee', cursive;
  font-size: 1.5em;
}

.thankYou div img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
