/* Fonts:
font-family: 'Corinthia', cursive;
font-family: 'Handlee', cursive;
font-family: 'Roboto', sans-serif;
Colors:
Dark Blue background color: rgb(20, 83, 141); */








body{
    background-color: azure;
}

header{
    background-color:  rgb(20, 83, 141);
}

main{
    width: 100vw;
    height: 90vh;
    background-image:url(../img/winter-cropped_altered.png);
    background-size:cover;
    background-position: bottom left;
}

h1 {
    font-family: 'Corinthia', cursive;
    font-size: 9em;
    text-align: center;
    padding-top: 1%;
    color: whitesmoke;
    text-shadow: 2px 2px 3px black;
}

h2{
    font-family: 'Handlee', cursive;
    font-size: 4em;
    text-align: center;
    padding-top: 2%;
    color: whitesmoke;
    text-shadow: 2px 2px 3px black;
}


.secondary{
    width: 100vw;
    height: 90vh;
    background-image:url(../img/no_village_winter.png);
    background-size:auto;
    background-position: bottom right;

}

.secondary h2{
    font-family: 'Handlee', cursive;
    font-size: 4em;
    text-align: center;
    padding-top: 0%;
    color: whitesmoke;
    text-shadow: 2px 2px 3px black;
}
/* **********************ABOUT US*********************** */
.about-us{
    width: 100vw;
    height: 90vh;
    background-image:url(../img/aboutUs/blank_village.png);
    background-size:auto;
    background-position: bottom right;
}
.about-us h2{
    font-family: 'Handlee', cursive;
    font-size: 4em;
    text-align: center;
    padding-top: 3%;
    color: whitesmoke;
    text-shadow: 2px 2px 3px black;
}

.snowmen{
    display: flex;
    justify-content: space-evenly;
    height: 40vh;
    padding-top: 10em;
}

.snowmen div{
    max-height: 40vh;
}

.snowmen div img{
    max-height: 40vh;
}


footer{
    background-color: white;
    color: rgb(20, 83, 141);
    position:fixed;
    bottom: 0%;
    padding-bottom: 2em;
    width: 100%;
    height: 10%;
}

ul{
    display: flex;
    padding-bottom: 1em;
    margin: auto;
    text-align: center;
    justify-content: center;

}

li{
    font-family: 'Handlee', cursive;
    font-size: 2em;
padding: 1em;
}

a{
    text-decoration: none;
}
a:hover{
    color: red;
}

.navBar{
    display: flex;
}

.navCartContainer{
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding: 1%;
    justify-content: right;

}
.navCartContainer div{
    background-color: white;
    /* margin-top: 5px; */
    margin-left: 1em;
    padding: 10px;
    border-radius: 20px;
    color: rgb(20, 83, 141);
    /* box-shadow: 1px 1px 5px 2px black; */

}