/* Fonts:
font-family: 'Corinthia', cursive;
font-family: 'Handlee', cursive;
font-family: 'Roboto', sans-serif;
Colors:
Dark Blue background color: rgb(20, 83, 141); */

/* **********************GLOBAL STYLES*********************** */

body {
    background-color: rgb(20, 83, 141);
}

header {
    background-color: rgb(20, 83, 141);
}

main {
    width: 100vw;
    height: 90vh;
    background-image: url("../img/winter-cropped_altered.png");
    background-size: cover;
    background-position: bottom left;
}

h1 {
    font-family: 'Corinthia', cursive;
    font-size: 9em;
    text-align: center;
    padding-top: 1%;
    color: whitesmoke;
    text-shadow: 2px 2px 3px black;
    animation: fadeInDown;
    animation-duration: 2s;
}

h2 {
    font-family: 'Handlee', cursive;
    font-size: 4em;
    text-align: center;
    padding-top: 2%;
    color: whitesmoke;
    text-shadow: 2px 2px 3px black;
}

.secondary {
    width: 100vw;
    height: 90vh;
    background-image: url("../img/no_village_winter.png");
    background-size: auto;
    background-position: top right;
    overflow: auto;

}

.secondary h2 {
    margin-top: 20px;
    font-family: 'Handlee', cursive;
    font-size: 4em;
    text-align: center;
    padding-top: 0;
    color: whitesmoke;
    text-shadow: 2px 2px 3px black;
}

.content-wrap {
    max-width: 1000px;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 200px;
}

.tooltip {
    position: absolute;
    opacity: 0;
    background-color: #fff;
    padding: 0.5em;
    min-width: 10rem;
}

img.show:hover + div.tooltip {
    opacity: 1;
}

footer {
    background-color: white;
    color: rgb(20, 83, 141);
    position: fixed;
    bottom: 0;
    padding-bottom: 2em;
    width: 100%;
    height: 10%;
}

ul {
    display: flex;
    padding-bottom: 1em;
    margin: auto;
    text-align: center;
    justify-content: center;

}

li {
    font-family: 'Handlee', cursive;
    font-size: 2em;
    padding: 1em;
}

a {
    text-decoration: none;
}
a:hover {
    color: red;
}

.navBar {
    display: flex;
}

.navCartContainer {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding: 1%;
    justify-content: right;

}
.navCartContainer div {
    background-color: white;
    margin-left: 1em;
    padding: 10px;
    border-radius: 20px;
    color: rgb(20, 83, 141);

}
/* **********************GIFT and HAND*********************** */

#giftPhotos div,
#handPhotos div {
    position: relative;
    display: inline-grid;
    background-color: white;
    max-height: 15em;
    max-width: 15em;
    overflow-wrap: break-word;
    margin: 1em;
    padding: 1em;
    color: rgb(20, 83, 141);
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.387) 0 10px 20px, rgba(0, 0, 0, 0.475) 0 6px 6px;
}

#giftPhotos div p,
#handPhotos div p {
    position: absolute;
    top: 11.5em;
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

#giftPhotos div img,
#handPhotos div img {
    height: 10em;
    width: 15em;
}

#giftPhotos div button,
#handPhotos div button {
    position: absolute;
    top: 17.5em;
    left: 1em;
    width: 90%;
    margin: 4px;
    border-radius: 5px;
    background-color: rgb(20, 83, 141);
    color: white;
}
.tooltip {
    position: absolute;
    top: -14em;
    opacity: 0;
    background-color: #fff;
    padding: 0.5em;
    width: 100%;
    min-width: 10rem;
}

img.show:hover + div.tooltip {
    opacity: 1;
}

/* **********************ABOUT US*********************** */
.about-us {
    position: relative;
    width: 100vw;
    height: 90vh;
    background-image: url("../img/aboutUs/blank_village.png");
    background-size: auto;
    background-position: bottom right;
}
.about-us h2 {
    font-family: 'Handlee', cursive;
    font-size: 4em;
    text-align: center;
    padding-top: 3%;
    color: whitesmoke;
    text-shadow: 2px 2px 3px black;
}

.snowmen {
    position: relative;
    bottom: -8%;
    display: flex;
    justify-content: space-evenly;
    height: 40vh;
    padding-top: 10em;
}

.snowmen div img {
    max-height: 40vh;
}
/* **********************ABOUT US Custom Hover*********************** */
.snow_tooltip {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 10vh;
    left: 25vw;
    width: 50vw;
    opacity: 0;
    transition: opacity 1s;
    background-color: #fff;
    border-radius: 15px;
    padding: 0.5em;
    min-width: 10rem;
}

img.show:hover + div.snow_tooltip {
    opacity: 1;
}

.snow_tooltip img {
    height: 15vh;
    padding: 10px;
}
.snow_tooltip p {
    font-family: 'Roboto', sans-serif;
    color: rgb(20, 83, 141);
}

.snowWoman div img {
    height: 15vh;
    padding: 10px;
}
