body{
    background-color: azure;
}

main{
    width: 100vw;
    height: 90vh;
    background-image:url(../img/winter-cropped_1920.png);
    background-size:cover;
    background-position: bottom left;
}

.secondary{
    width: 100vw;
    height: 90vh;
    background-image:url(../img/winter-cropped_1920.png);
    background-size:auto;
    background-position: top right;

}

footer{
    background-color: white;
    color: rgb(54, 54, 157);
    position:fixed;
    bottom: 0%;
    width: 100%;
    height: 10%;
}